.input-one {
  display: block;
  margin-bottom: 20px;
}

.input-one label {
  display: block;
}

.input-one input {
  padding: 3px 8px;
  font-family: 'Sevillana', cursive;
}
.myForm {
  border: 1px solid black;
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}
